---
{{- if .Values.enableAvp}}
secrets:
  argocd-vault-plugin-credentials:
    name: argocd-vault-plugin-credentials
    namespace: {{ .Release.Namespace }}
    secretKVs:
      AVP_TYPE: vault
      TYPE: vault
      AVP_AUTH_TYPE: approle
      AVP_VAULT_ADDR: ${VAULT_ADDR}
      VAULT_ADDR: ${VAULT_ADDR}
      VAULT_NAMESPACE: ${VAULT_NAMESPACE}
      AVP_ROLE_ID: ${VAULT_ROLE_ID}
      AVP_SECRET_ID: ${VAULT_SECRET_ID}
{{- end }}
