secrets:
{{- range $k, $v := .Values.secrets }}
  {{ $k }}:
    name: {{ $k }}
    namespace: {{ $v.namespace }}
    secretKVs:
    {{- range $key, $value := $v.kvs }}
      {{ $key }}: {{ $value | quote }}
    {{- end }}
{{- end }}

{{- if hasKey .Values "appConfig" }}
configmaps:
  backstage-app-config:
    name: backstage-app-config
    namespace: {{ .Values.namespace }}
    app-config.extra.yaml: |
{{ .Values.appConfig | indent 6 }}
{{- end }}
