---
global:
  cattle:
    psp:
      enabled: false

bootstrapPassword: {{ .Values.bootstrapPassword }}
hostname: {{ .Values.hostname }}.{{ .Values.domain }}
privateCA: {{ .Values.privateCA }}

ingress:
  enabled: true
  ingressClassName: {{ .Values.ingressClass }}
  servicePort: 80
  tls:
    source: secret
    secretName: {{ .Values.hostname }}-tls
