---
injector:
  enabled: {{ .Values.injectorEnabled }}
  serviceAccount:
    automountServiceAccountToken: true
server:
  ingress:
    annotations:
      cert-manager.io/{{ .Values.issuerKind }}: "{{ .Values.clusterIssuer }}"
    enabled: true
    hostname: {{ .Values.hostname }}.{{ .Values.domain }}
    ingressClassName: {{ .Values.ingressClassName }}
