---
server:
  ingress:
    enabled: true
    ingressClassName: {{ .Values.ingressClassName }}
    annotations:
      cert-manager.io/{{ .Values.issuerKind }}: "{{ .Values.clusterIssuer }}"
    hostname: {{ .Values.hostname }}.{{ .Values.domain }}
    tls: true


injector:
  enabled: {{ .Values.injectorEnabled }}
  serviceAccount:
    automountServiceAccountToken: true
