---
environments:
  default:
    values:
      - namespace: kube-system
      - version: 3.13.0
---
releases:
  - name: metrics-server
    installed: true
    namespace: {{ .Values.namespace }}
    chart: metrics-server/metrics-server
    version: {{ .Values.version }}
    values:
      - "values/metrics-server.values.yaml.gotmpl"

repositories:
  - name: metrics-server
    url: https://kubernetes-sigs.github.io/metrics-server
    oci: false
