---
environments:
  default:
    values:
      - namespace: kube-system
      - version: 1.8.0
---
releases:
  - name: nfs-server-provisioner
    installed: true
    namespace: {{ .Values.namespace }}
    chart: kvaps/nfs-server-provisioner
    version: {{ .Values.version }}

repositories:
  - name: kvaps
    url: https://kvaps.github.io/charts
    oci: false
