# tekton.values.yaml.gotmpl
---
autoInstallComponents: {{ .Values.autoInstallComponents }}
defaultNamespace: {{ .Values.pipelineNamespace }}
imagePullPolicy: {{ .Values.imagePullPolicy }}
disableInlineSpec: "{{ .Values.disableInlineSpec }}"
enableTektonPipeline: {{ .Values.enableTektonPipeline }}
