---
customresources:
{{- range $key, $fn := .Values.functions }}
  {{ $key }}:
    apiVersion: pkg.crossplane.io/v1beta1
    kind: Function
    metadata:
      name: {{ $fn.name | required (printf "functions.%s.name is required" $key) }}
    spec:
      package: {{ printf "%s:%s" $fn.image $fn.tag | required (printf "functions.%s.image and tag are required" $key) }}
{{- end }}