---
{{- if .Values.enableIngress }}
ingress:
  enabled: {{ .Values.enableIngress }}
  className: {{ .Values.ingressClassName }}
  annotations:
    cert-manager.io/{{ .Values.issuerKind }}: "{{ .Values.clusterIssuer }}"
  hosts:
    - host: {{ .Values.hostname }}.{{ .Values.domain }}
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls:
    - hosts:
        - {{ .Values.hostname }}.{{ .Values.domain }}
      secretName: {{ .Values.hostname }}-ingress-tls
{{- end }}
