---
environments:
  default:
    values:
      - namespace: observability
      # renovate: datasource=helm depName=promtail registryUrl=https://grafana.github.io/helm-charts
      - version: 6.17.0
      - lokiServiceName: openldap-loki
      - lokiNamespace: observability
---
repositories:
  - name: grafana
    url: https://grafana.github.io/helm-charts

releases:
  - name: promtail
    disableValidationOnInstall: true
    installed: true
    namespace: {{ .Values.namespace }}
    chart: grafana/promtail
    version: {{ .Values.version }}
    values:
      - "values/promtail.values.yaml.gotmpl"
