---
environments:
  default:
    values:
      - namespace: flux-system
      - version: 0.26.0
---
releases:
  - name: flux-operator
    installed: true
    namespace: {{ .Values.namespace }}
    chart: fluxcd/flux-operator
    version: {{ .Values.version }}

repositories:
  - name: fluxcd
    url: ghcr.io/controlplaneio-fluxcd/charts
    oci: true