---
environments:
  default:
    values:
      - namespace: observability
      - version: 6.31.0
      - profile: fs
---
repositories:
  - name: grafana
    url: https://grafana.github.io/helm-charts

releases:
  - name: loki
    disableValidationOnInstall: true
    installed: true
    namespace: {{ .Values.namespace }}
    chart: grafana/loki
    version: {{ .Values.version }}
    values:
      - "values/loki-{{ .Values.profile }}.values.yaml.gotmpl"
