---
{{- if .Values.enableHostPort }}
controller:
  nodeSelector:
    ingress-ready: "true"
  service:
    type: NodePort
  admissionWebhooks:
    enabled: false  # Avoids potential Kind issues
  hostPort:
    enabled: true
{{- end }}
