---
installCRDs: {{ .Values.longhornInstallCRDs }}
persistence:
  defaultClass: {{ .Values.longhornDefaultClass }}
  defaultFsType: {{ .Values.longhornDefaultFsType }}
  defaultMkfsParams: "{{ .Values.longhornDefaultMkfsParams }}"
  defaultDataLocality: {{ .Values.longhornDefaultDataLocality }}
  reclaimPolicy: {{ .Values.longhornReclaimPolicy }}
